@{
    Layout = "_Layout";
}
<div class="bg-1 first-text fadeInLeft animated" id="1">
	<h1 class="zagolovok">Быстрая помощь<br>вашему автомобилю</h1>
	<h2 class="kratko">В нашем магазине Вы можете<br>быстро и просто найти и<br>заказать запчасти для Вашего<br>автомобиля.</h2>
</div>
<div class="info">
			<div class="cards">
				<div class="card first-card">
					<div class="logo">
						<img class="b-lazy" data-src="Images/phone.png">
					</div>
					<h3>Обратная связь</h3>
					<p>В нашем магазине Вы можете быстро найти и заказать запчасти для Вашего автомобиля без лишних проблем.</p>
				</div>
				<div class="card second-card">
					<div class="logo">
						<img class="b-lazy" data-src="Images/cash.png">
					</div>
					<h3>Оплата</h3>
					<p>Оплатить заказ можете любым удобным для Вас способом. По картам "Халва" и "Карта покупок" можно оформить рассрочку на 2 месяца.</p>
					<img class="bankCard" src="~/Images/buyCard.png">
					<img class="bankCard" src="~/Images/halva.png">
				</div>
				<div class="card third-card">
					<div class="logo">
						<img class="b-lazy" data-src="Images/car.png">
					</div>
					<h3>Помощь</h3>
					<p>Мы поможем Вам в выборе запчастей, чтобы Ваш автомобиль как можно быстрее встал на колеса.</p>
				</div>
			</div>

			<div class="slider-box">
				<div class="slider">  
					<img src="~/Images/1scroll.png" alt="">
					<img src="~/Images/2scroll.png" alt="">
					<img src="~/Images/3scroll.png" alt="">
				 </div>
				<div class="prev"></div>
				<div class="next"></div>
			</div>
	
		</div>


		<!--Блок как производится покупка-->
		<div class="how-to-buy fadeInRight animated wow">
			<div class="step first-step b-lazy" data-src="Images/test1.jpg" >
				<!--<h3>1</h3>-->
				<div class="details" >
					<header>Помощь</header>
					<p>Специалисты в сфере продаж
						автозапчастей помогут
						Вам подобрать
						деталь с первого раза.</p>
				</div>
			</div>
			<div class="step second-step b-lazy" data-src="Images/test2.jpg">
				<div class="details">
					<header>Ассортимент</header>
					<p>Большая часть товаров постоянно
						имеется в наличии
						на нашем складе. Если подходящую
						деталь найти не удастя, закажем ее
						у производителя.</p>
				</div>
			</div>
			<div class="step third-step b-lazy" data-src="Images/test3.jpg">
				<div class="details">
					<header>Цена</header>
					<p>У нас всегда низкие цены на любые запчасти для вашего автомобиля.</p>
				</div>
			</div>
			<div class="step fourth-step b-lazy" data-src="Images/test4.jpg">
				<div class="details">
					<header>Магазины</header>
					<p>Наши магазины находятся в трёх городах Белоруссии. Вы всегда можете найти нас на карте.</p>
				</div>
			</div>
		</div>

		<!--Второй блок с товарами-->
		<div class="our-products fadeInLeft wow" data-wow-duration="0.8s" data-wow-offset="150" id="2">
			<h2>Наши товары</h2>
			<div class="products">
				
			<div class="goods first-goods">
				<div class="upperImg">
					<img src="~/Images/engine_PNG25.png">
				</div>
				<h3>Запчасти для<br>двигателя</h3>
			</div>
			<div class="goods second-goods">
				<div class="upperImg">
					<img src="~/Images/slider-a3.png">
				</div>
				<h3>Аккумуляторы</h3>
			</div>
			<div class="goods third-goods">
				<div class="upperImg">
					<img src="~/Images/filters.png">
				</div>
				<h3>Фильтры</h3>
			</div>
			<div class="goods fourth-goods">
					<div class="upperImg">
						<img src="~/Images/krepezh.png">
					</div>
					<h3>Автомобильный<br>крепеж</h3>
				</div>				
				<div class="goods fifth-goods">
					<div class="upperImg">
						<img src="~/Images/bion_prado.png">
					</div>
					<h3>Автомагнитолы</h3>
				</div>
				<div class="goods sixth-goods">
					<div class="upperImg">
						<img src="~/Images/podveska.png">
					</div>
					<h3>Запчасти для<br>подвески</h3>
				</div>
				<div class="goods seventh-goods">
					<div class="upperImg">
						<img src="~/Images/masla.png">
					</div>
					<h3>Масла и тех. жидкости</h3>
				</div>
				<div class="goods eighth-goods">
						<div class="upperImg">
							<img src="~/Images/chemy.png">
						</div>
						<h3>Автохимия и аксессуары</h3>
				</div>
			</div>
		</div>

		<!--Этапы согласования и продажи-->
		<div class="how-we-work">
			<h3>Как мы работаем?</h3>
            <div class="work-container">
				<div class="work-step"><img src="~/Images/work icons/1.png"><h4>1</h4><p>Оставляете заявку на сайте или по телефону</p></div>
				<div class="work-step"><img src="~/Images/work icons/2.png"><h4>2</h4><p>Подбираем запчасти</p></div>
				<div class="work-step"><img src="~/Images/work icons/3.png"><h4>3</h4><p>Доставляем детали точно в срок</p></div>
				<div class="work-step"><img src="~/Images/work icons/4.png"><h4>4</h4><p>Оплачиваете любым удобным способом</p></div>
				<div class="work-step"><img src="~/Images/work icons/5.png"><h4>5</h4><p>Забираете свой автомобиль!</p></div>
			</div>
		</div>

		<!--Обратная связь-->
		<div class="feedback fadeInRight wow" data-wow-duration="0.8s" data-wow-offset="150" id="4">
			<h3>Оставьте заявку</h3>
			<p class="down">и мы вам перезвоним</p>
			<form method="POST" class="feedback-form" id="form">
				<div class="feedback-container">
					<input type="hidden" id="forMail" name="forMail" value="Дзержинск" required>
					<input type="text" id="name" name="name" class="name" placeholder="Введите имя">
					<input type="tel" id="phone" class="phone" name="phone" placeholder="+343 (29) 333-33-33">
					<input type="text" id="car-name" class="car-name" name="textAuto" placeholder="Марка автомобиля">
					<input type="text" id="number" class="number" name="textVin" placeholder="Ваш VIN-номер">
				</div>
				<textarea name="message" id="message" placeholder="Ваше сообщение"></textarea>
				<div class="check">
					<input type="checkbox" name="subscribe" id="subscribe-field">
					<label for="subscribe-field">Даю согласие на обработку персональных данных.</label>
				</div>
				<input type="submit" class="send" value="Отправить сообщение">
			</form>
			<p class="message-send message-send-close"></p>
		</div>
		
		
		<!--Как нас найти-->
<div class="map-block fadeInLeft wow" data-wow-duration="0.8s" data-wow-offset="150" id="3">
	<div class="city-description">
		<div class="city-text">
			<h3>Мы находимся</h3>
			<p class="address" id="citySelected">г. Дзержинск ул. Советская, 1</p>
			<div class="cityPhones">
				<img src="~/Images/velcom.png">
				<a href="tel:+375295717272">+375 29 571 72 72</a>
			</div>
			<div class="cityPhones">
				<img src="~/Images/mts.png">
				<a href="tel:+375445717272">+375 44 571 72 72</a>
			</div>
			<div class="cityPhones">
				<img src="~/Images/cell-tower.png">
				<a href="tel:80171690005">8 01716 90005</a>
			</div>
			<h4>Мы работаем:</h4>
			<p id="work-time">Пн-Вс 9-20.</p>
			<p class="eatTime">Без обеда, без выходных.</p>
		</div>
		<div class="map">
			<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afb56e86f6924508dba2d44b5e5184fd3ed3d709db36ee4845a5caea32b52c085&amp"></iframe>
		</div>
	</div>

				
	<script src="~/jquery/jquery.3.3.1.min.js"></script>
	<script src="~/js/ajax.js"></script>
</div>